
:root{
    --light:#f0f0f0;
    --dark:#121212;
    --white:#fff;
    --black:#000;
    --light-gray:#F9F9F8;
    --gray:#C6C6C6;
    --dark-gray:#606060;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


*:focus{
    outline: none;
}

body{
    position:relative;
    background: var(--light);
    font-family: 'roboto', sans-serif;
}

a{
    text-decoration: none;
    color:var(--dark);
}

/* navbar starts */
.navbar{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100px;
    background:var(--white);
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
}

.toggle-btn{
    width:20px;
    height: 10px;
    position: relative;
    cursor: pointer;
}

.toggle-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background: var(--black);
}

.toggle-btn span:nth-child(1){
    top:0;
}

.toggle-btn span:nth-child(3){
    top: 100%;
}

.logo{
    height: 20px;
    margin: -2px 30px 0;
}

.search-box{
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 35px;
    display: flex;
    border-radius: 30px;
}

.search-bar{
    width: 85%;
    height: 100%;
    border: 2px solid var(--gray);
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}

.search-btn{
    width: 15%;
    height: 100%;
    background: var(--light) ;
    border: 2px solid var(--gray);
    padding: 5px 0;
    border-left: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.search-btn img{
 height: 100%;   
}

.user-options{
    height: 35px;
    display: flex;
    margin-left: auto;
    align-items: center;
}

.user-options .icon{
    height: 100%;
    margin-right: 20px;
    cursor: pointer;
}

.user-options .icon:first-child{
    height: 80%;
}

.user-dp{
    cursor: pointer;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    overflow: hidden;
}
.user-dp img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* navbar ends */

/* sidebar starts */

.sidebar{
    position: fixed;
    top: 100px;
    left: -260px;
    min-width: 250px;
    width: 250px;
    height: calc(100vh - 100px);
    background: var(--white);
    padding-right: 10px;
    transition: left 0.3s ease;
}

.sidebar.active{
    left: 0;
    z-index: 10;
}


.links{
    display: block;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: var(--black);
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
}

.links img{
    height: 25px;
    margin-right: 20px;
}

.links:hover, links.active{
    background: var(--light-gray);
}

.seperator{
    border: none;
    border-bottom: 1px solid var(--gray);
    margin: 20px 0;
}
/* sidebar ends */

/* filters */
.filters{
    position: fixed;
    left: 0;
    top: 100px;
    width: calc(100%);
    height: 60px;
    background-color: var(--white);
    border-top: 1px solid var(--light-gray);
    border-bottom: 1px solid var(--light-gray);
    padding: 0 20px;
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
}

.filters::-webkit-scrollbar{
    display: none;
}

.filter-options{
    flex: 0 0 auto;
    padding: 10px 20px;
    border-radius: 10px;
    background: var(--light);
    border:none;
    text-transform: capitalize;
    margin: 10px;
    color: var(--dark);
    font-size: 15px;
    font-weight: 500;
    cursor: pointer;
}

.filter-options:hover{
    background: var(--gray);
}

.filter-options.active{
    background-color: var(--dark);
    color: var(--white);
}
/* filters end */

/* video-section starts*/
.videos-container{
    width: calc(100%);
    margin-top: 165px;
    padding: 20px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 70px;
    overflow-x: hidden;
    background: var(--white);
}

.video{
    min-width: 350px;
    height: auto;
}

.thumbnail{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    transition: all .8sec ease;
}

.thumbnail:hover{
    border-radius: 0;
}

.content{
    flex: grow;
    width: 100%;
    height: 90px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.channel-icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 10px;
}

.title{
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

.channel-name{
    font-size: 14px;
    margin: 2px 0;
    color: var(--dark-gray);
}

.info{
    flex-grow: 1;
    min-width: 180px;
    text-align: left;
    margin:  0 10px;
}

.info h4{
    font-size: 15px;
    font-weight: 600;
}

.info>div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.info h5{
    font-size: 14px;
    margin: 2px 0;
    color: var(--dark-gray);
    font-weight: 300;
}
/* video-section ends */

